.extras {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  margin: 0 5vw;
  color: #2e2e2e;

  h2 {
    padding: 1.6rem;
    font-weight: 600;
  }

  p {
    max-width: 700px;
    margin-bottom: 30px;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    gap: 40px;
    padding: 10px;
  }

  li {
    a {
      color: #536661;
    }

    a:hover {
      text-decoration: none;
    }

    h3 {
      margin-bottom: 30px;
    }
  }
}